<style>
  article {
    color: white;
    width: 865px;
    height: 923px;
    background-color: #555555;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    > div {
      width: 865px;
      height: 92px;
      background-color: #787878;
    }
    header {
      width: 865px;
      height: 285px;
      background-color: #787878;
      display: flex;
    }
    h1 {
      width: 393.81px;
      height: 68.21px;
      background-color: #787878;
      border-radius: 5px;
      display: flex;
      gap: 10px;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      transition: all 0.2s ease-in-out;
      &:hover {
        transition: all 0.2s ease-in-out;
        background-color: #298096;
      }
    }
    .languages {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row !important;
      justify-content: center;
      align-items: center !important;
      flex-wrap: wrap;
      gap: 20px;
    }
    main {
      width: 80%;
      display: flex;
      align-items: center;
      gap: 50px;
      font-family: sans-serif;
      margin-left: 50px;
      margin-right: 50px;
      div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        p {
          width: 100%;
          text-align: left;
          color: white;
          font-size: large;
          font-weight: bold;
        }
        .card {
          width: 100%;
          height: 220.53px;
          background-color: #787878;
          display: flex;
          justify-content: center;
          align-items: start;

          border-radius: 5px;
          form {
            width: 100%;
            height: 100%;
            font-size: 13px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-self: center;
            margin: 20px 0 0 0;
            p {
              width: 100%;
              text-align: center;
            }
            input {
              border-radius: 5px;
            }
            a {
              font-size: 11px;
              color: white;
              font-size: 15px;
              font-weight: bold;
              button {
                width: 100px;
                height: 30px;
                border-radius: 5px;
                background-color: #0e8f53;
                color: white;
              }
            }
            .allbtn {
              margin-top: 10px;
              display: flex;
              flex-direction: row;
              gap: 5px;
              width: 100%;
              .btn-primary {
                background-color: #298096;
                width: 80px;
                height: 20px;
                color: white;
              }
            }
          }
        }
      }
    }
    footer {
      width: 500px;
      height: 50px;
      background-color: #787878;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;

      div {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          width: 100%;
          height: 100%;
          font-size: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          .fa {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          i {
            width: 100%;
            height: 100%;
            color: white;
          }
        }
      }
    }
  }
</style>
